// Place all the styles related to the GUI controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group input {
    color: #000;
}

.form-group.well {
    background-color: #a9cdfb;
    color: #212121;
    border-radius: 15px;
    margin: 1em 1em;
}

.code-block {
    background: #2f3f4f;
    color: #90ff90;
    font-family: "Lucida Console", Monaco, monospace;
    resize: none;
}

.row>div {
    padding: 1em 0em;
}

.theader {
    background-color: #212121;
}

.tbody {
    text-align: center;
    border-bottom: 1px dotted black;
}
