<div class="container-fluid text-center">
    <h1>Resources</h1>

    <%= render partial: "layouts/flash_message" %>

    <% if @resources.size > 0 %>
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-3 theader">UUID</div>
            <div class="col-md-2 theader">Coordinates</div>
            <div class="col-md-5 theader">Capabilities</div>

            <div class="col-md-1"></div>
        </div>

        <% @resources.each do |res| %>
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-3 tbody"><%= res.uuid %></div>
                <div class="col-md-2 tbody"><%= "(#{res.latitude}, #{res.longitude})" %></div>
                <div class="col-md-5 tbody"><%= res.capabilities.map{|s|s.gsub('_',' ')}.join ', ' %></div>

                <div class="col-md-1"></div>
            </div>
        <% end %>
    <% else %>
    <br><br><br><br>
    <% end %>

    <div class="form-group">
        <%= link_to 'New resource', new_resource_path, class: 'btn btn-default' %>
    </div>
</div>
