
<div class="container-fluid text-center">
    <h1>Create a new Resource</h1>

    <%= render partial: "layouts/flash_message" %>

    <%= form_tag(create_resource_path, method: 'post', class: 'form-inline', id: 'form') do %>
        <div id="checkbox-group">
            <% @capabilities.each do |k,v|%>
                <div class="form-group well">
                    <%
                        checked = false
                        checked = true if !params[:options].nil? and params[:options].include? k.to_s
                    %>
                    <%= check_box_tag "options[]", k.to_s, checked %>
                    <span class="glyphicon glyphicon-<%=v[1]%>"></span>
                    <%= label_tag(k,v[0].to_s) %>
                </div>
            <% end %>
        </div>

        <br><br>

        <div class="form-group">
          <%= label_tag(:description,'Description :') %><br>
            <%= text_field_tag(:description, params[:description], {maxlength: 255, minlength: 5, placeholder: 'a small briefing', size: 50}) %>
        </div>

        <br><br>

        <div class="form-group">
          <%= label_tag :coordinates, "Coordinates: " %><br>
          <%= text_field_tag :coordinates, params[:coordinates], {placeholder: 'click the map below', size: 50} %>
          <!-- <input type="text" name='coordinates' id='coordinates' placeholder="click in the map below" size=50> -->

            <br><br>

            <main role="main" class="container">
                <div height="150" style="border:0; width: 100%" id="map2"></div>
            </main>
        </div>

        <br><br>

        <div class='form-group'>
            <%= check_box_tag "override", true %>
            <%= label_tag :override,"Override a capability behavior" %>
            <p class='small'>Selecting this will lead you to another form</p>
        </div>

        <br><br>

        <div class='form-group' id='submit_btn'>
            <%= submit_tag("Create Resource", class: 'btn btn-default btn-lg') %>
        </div>
    <% end %>

    <br>

    <%= link_to 'Back', root_path, class: 'btn btn-link' %>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!-- <script src="app/assets/javascripts/min.js" > -->

<script type="text/javascript">
  new SampaMap('map1');
  new SampaMap('map2', function(lat, lon) {
    $('#coordinates').val(lat + "; " + lon);
  });
</script>
