
<div class="container-fluid text-center">
    <h1>Override behaviors</h1>

    <div class='alert alert-info'>
        <p>Note that you must fill <strong>at least</strong> one field</p>
        <p>Example:<br>
            Suppose you want the data to be generated according to the sine distribution, then you're <strong>Ruby code</strong> should be something like this:<br>
            <code>Math.sin(Time.now.hour * Math::PI)</code><br>
            For instance, suppose now it's 10:23 a.m., the data generated <em>now</em> will be sin(10 * pi) = 0.
        </p>
    </div>

    <%= render partial: "layouts/flash_message" %>

    <div>
    </div>

    <%= form_tag(create_override_path, method: 'post', class: 'form-inline', id: 'form') do %>

        <% @r.capabilities.each do |k,v| %>
            <div class='form-group well'>
                
                <h3> <%= label_tag k,v %> </h3>

                <div class='form-group'>
                    <%= label_tag "Refresh Rate: " %>
                    <%= number_field_tag "#{k}_send_amount", params["{k}_send_amount"], min:1 %>
                    <%= select_tag "#{k}_send_unity", options_for_select([ "Hours", "Minutes" ], "Minutes") %>
                </div>
                <br>
                
                <%= text_area_tag "#{k}_code",nil,rows: 10, cols: 60 %>
                <br>
            </div>
            <br>
        <% end %>
        <br>

        <div class='form-group' id='submit_btn'>
            <%= submit_tag("Create Resource", class: 'btn btn-default btn-lg') %>
        </div>

    <% end %>

    <br>

    <%= link_to 'Back', root_path, class: 'btn btn-link' %>
</div>
